################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Progra-Avanzada-Web/FileContentIndex
/ProyectoWebAvanzada/.vs/ProjectEvaluation/proyectowebavanzada.metadata.v7.bin
/ProyectoWebAvanzada/.vs/ProjectEvaluation/proyectowebavanzada.projects.v7.bin
/ProyectoWebAvanzada/ProyectoWebAvanzada/obj/Debug/net8.0/ProyectoWebAvanzada.AssemblyInfo.cs
/ProyectoWebAvanzada/ProyectoWebAvanzada/obj/Debug/net8.0/ProyectoWebAvanzada.AssemblyInfoInputs.cache
/ProyectoWebAvanzada/ProyectoWebAvanzada/obj/Debug/net8.0/ProyectoWebAvanzada.GeneratedMSBuildEditorConfig.editorconfig
/ProyectoWebAvanzada/.vs/ProyectoWebAvanzada/v17/.suo
/ProyectoWebAvanzada/ProyectoWebAvanzada/obj/Release/net8.0
/.vs/Progra-Avanzada-Web/v17
/.vs
ProyectoWebAvanzada/.vs/ProyectoWebAvanzada/FileContentIndex/052093f2-38df-47bc-b59c-8cb062fc8603.vsidx
ProyectoWebAvanzada/.vs/ProyectoWebAvanzada/FileContentIndex/11ab7ec1-94a4-4635-8bbc-b3638848e54c.vsidx
ProyectoWebAvanzada/.vs/ProyectoWebAvanzada/FileContentIndex/5f31a77f-12cd-4fe8-9496-2bdeea1d6ea8.vsidx
ProyectoWebAvanzada/.vs/ProyectoWebAvanzada/FileContentIndex/cffaf2c8-2275-43b0-86ce-6cc798a0842f.vsidx
ProyectoWebAvanzada/ProyectoWebAvanzada/obj/Debug/net8.0/project.razor.vs.bin
ProyectoWebAvanzada/ProyectoWebAvanzada/obj/Debug/net8.0/ProyectoWebAvanzada.assets.cache
ProyectoWebAvanzada/ProyectoWebAvanzada/obj/project.assets.json
ProyectoWebAvanzada/ProyectoWebAvanzada/obj/project.nuget.cache
ProyectoWebAvanzada/ProyectoWebAvanzada/obj/ProyectoWebAvanzada.csproj.nuget.dgspec.json
*.v2
*.bin
