/* _content/ProyectoWebAvanzada/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-l8t4f7ci88] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-l8t4f7ci88] {
  color: #0077cc;
}

.btn-primary[b-l8t4f7ci88] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-l8t4f7ci88], .nav-pills .show > .nav-link[b-l8t4f7ci88] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-l8t4f7ci88] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-l8t4f7ci88] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-l8t4f7ci88] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-l8t4f7ci88] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-l8t4f7ci88] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProyectoWebAvanzada/Views/Shared/_LayoutCLEAN.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-r38zq9s7u4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-r38zq9s7u4] {
  color: #0077cc;
}

.btn-primary[b-r38zq9s7u4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-r38zq9s7u4], .nav-pills .show > .nav-link[b-r38zq9s7u4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-r38zq9s7u4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-r38zq9s7u4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-r38zq9s7u4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-r38zq9s7u4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-r38zq9s7u4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProyectoWebAvanzada/Views/Shared/_Layout_ext.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gexql7tueu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gexql7tueu] {
  color: #0077cc;
}

.btn-primary[b-gexql7tueu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gexql7tueu], .nav-pills .show > .nav-link[b-gexql7tueu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gexql7tueu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gexql7tueu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gexql7tueu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gexql7tueu] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gexql7tueu] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
