@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_ext.cshtml";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/estilo.css">
 

</head>
 <body>


    <section>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="~/images/compas.jpg" class="card-img-top" alt="Imagen de paquete de internet" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-wifi"></i> Paquete de Internet</h4>
                        <p class="card-text">Navega sin límites con nuestro paquete de internet básico. Ideal para tareas diarias y navegación en redes sociales.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="~/images/2.jpg" class="card-img-top" alt="Imagen de paquete de telefonía" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-phone-alt"></i> Paquete de Telefonía</h4>
                        <p class="card-text">Mantente conectado con nuestro paquete de telefonía todo incluido. Llamadas ilimitadas y beneficios exclusivos.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="~/images/phone.jpeg" class="card-img-top" alt="Imagen de paquete combinado de internet y telefonía" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fas fa-wifi"></i><i class="fas fa-phone-alt"></i> Paquete Combinado</h4>
                        <p class="card-text">Optimiza tu experiencia con nuestro paquete combinado de internet y telefonía. Conéctate y comunícate como nunca antes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>
